.todolist{
  text-align: center;
}
.todolist{
  position: absolute;
  top:-0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgb(114, 51, 174);
}
.peak{
  margin: 137px 668px 0px 0px;
  border:2px solid;
  border:5px solid;
  width:500px;
  height: 500px;
  background-color: rgb(174, 201, 224);
  padding: 0px 0px 0px 0px;

}
.todo{
  padding: 23px 0px 0px 0px;
}
.build{
  margin: 0px 0px 0px 35rem;
  font-size: 73px;
}